<h1>Show Author</h1>

<ul>

  <li>
    <strong>Bio:</strong>
    <%= @author.bio %>
  </li>

  <li>
    <strong>Role:</strong>
    <%= @author.role %>
  </li>

  <li>
    <strong>Genre:</strong>
    <%= @author.genre %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.author_path(@conn, :edit, @author) %></span>
<span><%= link "Back", to: Routes.author_path(@conn, :index) %></span>
